
.container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th,td {
  border-bottom: 2px solid #ddd ;
  height: 30px;
  word-break: normal;
  white-space: inherit;
  width: 80px;
}

th{
  color: white;
  font-weight: bold;
  background-color: #04AA6D;

}
td{
  color: black;
  font-weight: normal;
}
td:hover {background-color: peachpuff;}


